{{ title }}
<app-task></app-task>
<div [ngClass]="parent">
    <div [ngClass]="sidelines">
        <div [ngClass]="vertical - lines"></div>
        <div [ngClass]="margin"></div>
    </div>
    <div [ngClass]="children">
        <div *ngFor="let subtask of subTasks" [ngClass]="child">
            <div [ngClass]="lines">
                <div [ngClass]="drawLines"></div>
                <div [ngClass]="dontDrawLines"></div>
            </div>
            <div [ngClass]="task">
                <app-task-with-subtasks
                    [title]="subtask.title"
                    [author]="subtask.author"
                    [statusId]="subtask.statusId"
                    [id]="subtask.id"
                    [subTasks]="subtask.subTasks"
                    [statuses]="statuses"
                    [displaySubtasks]="displaySubtasks"
                    (changeDisplay)="
                        (subtask.subTasks && !!subtask.subTasks.subTasks
                            ? switchDisplay
                            : null)
                    "
                ></app-task-with-subtasks>
            </div>
        </div>
    </div>
</div>
