<app-task
    [task]="task"
    [statuses]="statuses"
    [isParent]="task.subTasks && task.subTasks.length"
    (hideSubtasks)="switchDisplay($event)"
></app-task>
<div *ngIf="displaySubtasks" class="parent">
    <div class="sidelines">
        <div class="vertical-lines"></div>
        <div class="margin"></div>
    </div>
    <div class="children">
        <div *ngFor="let subtask of task.subTasks" class="child">
            <div class="lines">
                <div class="drawLines"></div>
                <div class="dontDrawLines"></div>
            </div>
            <div class="task">
                <app-task-with-subtasks
                    [task]="subtask"
                    [statuses]="statuses"
                ></app-task-with-subtasks>
            </div>
        </div>
    </div>
</div>
