<div class="task__container">
    <div class="task__column task__column--author">
        <span class="task__label">author</span>
        <span class="task__text task__text--author">{{ task.author }}</span>
    </div>
    <div class="task__column task__column--title">
        <span class="task__label">title</span>
        <span class="task__text task__text--title">{{ task.title }}</span>
    </div>
    <div class="task__column task__column--status">
        <span class="task__label">status</span>
        <span class="task__text task__text--status">{{
            getStatus(task.statusId, statuses)
        }}</span>
    </div>

    <div *ngIf="isParent" class="task__column task__column--toggle">
        <div *ngIf="!display" class="arrows button" (click)="toggleDisplay()">
            <i class="fas fa-chevron-up" aria-hidden="true"></i>
        </div>

        <div *ngIf="display" class="arrows button" (click)="toggleDisplay()">
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </div>
    </div>
</div>
