@import "../variables.scss";

.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1160px;
    }

    &__header {
        width: 100%;
    }
    &__headline {
        display: block;
        padding-left: 20px;
    }

    &__body {
        width: 100%;
    }

    &__sidebar {
        width: 60px;
        margin-right: 40px;
        background-color: $blue;
        min-height: 100vh;
    }
}
